<div id="particles-js" class="particles-js"></div>
<script type="text/javascript" src="/particles.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    if (document.getElementById('particles-js')) {
      particlesJS.load('particles-js', '/particles.json', function() {
        console.log('particles.js config loaded');
      });
    }
  });
</script>
